---
layout: default
---
<div class="container fade-in">
    <br />
    <div>
        {% for person in site.data.persons %}
            <div style="margin: 10px">
                <article class="media">
                    <div class="media-content">
                        <div>
                            <p>
                                <h5 class="title is-5">{{ person.name }}</h5>

                                <span class="icon has-text-primary">
                                        <i class="fas fa-mobile-alt"></i>
                                </span><span> {{ person.mobile }}</span>
                                
                                <br />
    
                                <span class="icon has-text-primary">
                                    <i class="fas fa-envelope"></i>
                                </span><span> <a href="mailto:{{ person.email }}">{{ person.email }}</a></span>
                            </p>
                        </div>
                    </div>
                </article>
                <hr />
            </div>
        {% endfor %}
    </div>
    
    <div style="margin: 10px">
        <article class="media">
            <div class="media-content">
                <div>
                    <p>
                        <h5 class="title is-5">{{ site.data.contact.office[page.lang] }}</h5>
                        
                        <span class="icon has-text-primary">
                                <i class="fas fa-phone"></i>
                        </span><span> {{ site.data.contact.phone }}</span>
                        
                        <br />

                        <span class="icon has-text-primary">
                                <i class="fas fa-map-marked"></i>
                        </span><span> {{ site.data.contact.address[page.lang] }}</span>
                        
                    </p>
                </div>
            </div>
        </article>
    </div>
    <iframe height="450" frameborder="0" style="border: 0;width: 100%" allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?language={{page.lang}}&key={{ site.googleMapsKey }}&q={{ site.data.contact.address[page.lang] }}">
    </iframe>
    <br />
    <br />
    {{ content }}
</div>
